@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #242333;
  color: white;
  font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: 0;
}

body p.text {
  margin-top: 30px;
}

body p.text span {
  color: #6feaf6;
}

body .movie-container {
  margin: 20px 0;
}

body .movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

body .showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .showcase li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
}

body .showcase li small {
  margin-left: 2px;
}

body .showcase li .seat.selected {
  background-color: #6feaf6;
}

body .showcase li .seat:not(.occupied):hover {
  cursor: default;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body .seat.occupied {
  background-color: #b3afaf;
}

body .container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-bottom: 30px;
}

body .container .screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  -webkit-transform: rotateX(-45deg);
          transform: rotateX(-45deg);
  -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
          box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

body .container .seat:nth-of-type(2) {
  margin-right: 18px;
}

body .container .seat:nth-last-of-type(2) {
  margin-left: 18px;
}

body .container .seat:not(.occupied):hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .row .seat.selected {
  background-color: #6feaf6;
}

body .container .btn {
  width: 100%;
  background-color: #444451;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  border: 0;
  cursor: pointer;
}

body .container .btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

body .snack-container h2 {
  text-align: center;
}

body .snack-container .snacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .snack-container .snacks #skittles {
  width: 225px;
}

body .snack-container .snacks #fountain-drink {
  width: 120px;
}

body .snack-container .snacks img {
  height: 225px;
  width: 150px;
  margin: 0 30px;
}

body .snack-container .snacks span {
  text-align: center;
  display: block;
}
/*# sourceMappingURL=style.css.map */